body {
  background-image: url("/static/images/bkgrd.jpg");
}
  
#header {
  position: relative;
  text-align: center;
  font-size: 300%;
  color: rgb(255, 255, 255);
  font-family: Pacifico, Static;
}
  
#stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  border: rgba(255, 255, 255, 1.00) dashed 10px;
  margin: 30px auto;
  text-align: center;
  max-width: 1300px;
  padding: 20px;
  font-size: 150%;
  color: rgb(178, 74, 227);
  background-color: rgba(255, 255, 255, 0.666);	
  border-radius: 10px;
  font-family: "Madimi One", sans-serif;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align items centrally */
  align-items: flex-start; /* Align items to the start of the flex container */
  gap: 20px; /* Spacing between cards */
}

.search {
  position: relative;
  padding-bottom: 30px;
  padding-top: 30px;
}

.search input[type="text"] {
  width: 400px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #4e99e9;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  background-color: blue;
}

.flip-card, .flip-card1, .flip-card2 {
  background-color: transparent;
  flex: 1 1 270px;
  width: 270px;
  height: 254px;
  perspective: 1000px;
  font-family: "Madimi One", sans-serif;
  cursor: pointer;
}

.flip-card-inner, .flip-card-inner1, .flip-card-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner, .flip-card1:hover .flip-card-inner1, .flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-front1, .flip-card-front2, 
.flip-card-back, .flip-card-back1, .flip-card-back2 {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid rgb(133, 80, 255);
  border-radius: 1rem;
}

.flip-card-front, .flip-card-front1, .flip-card-front2 {
  background: linear-gradient(120deg, rgb(227, 160, 223) 60%, rgb(217, 176, 244) 88%, rgb(255, 211, 195) 40%, rgba(133, 80, 255, 0.603) 48%);
  color: rgb(133, 80, 255);
}

.flip-card-back, .flip-card-back1, .flip-card-back2 {
  background: linear-gradient(120deg, rgb(200, 145, 255) 30%, rgb(133, 80, 255) 88%, rgb(252, 196, 255) 40%, rgb(198, 158, 238) 78%);
  color: white;
  transform: rotateY(180deg);
}

.title, .title1, .title2 {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}
