/* Font styles  for different parts of the text*/
.oswald{
  font-family: "Oswald", sans-serif;
}

.titan{
  font-family: "Titan One", sans-serif;
}

l {
  line-height: 1.7; /* Adjust line spacing to 1.5 times the font size */
}

/* Layout styles */
aside, header, footer, article, span {
    padding: 10px;
  }


  a:link {
    color: #dddddd;;
    text-decoration: none;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    color: #f0f0f0;
    font-family: "Oswald", sans-serif;
    font-size: 1.2em;
    background-color: #b2d4d8;
  }

  /*This controls the grid for the entire page so that it adjusts for mobile phone*/
  
  .grid-wrapper {
    /*changed the height from 100% to auto as the layout breaks when the height of the content 'overflows'.*/
    height: auto;
    display: grid;
    grid-template-columns: 0.7fr 3fr;
    grid-template-rows: min-content auto min-content;
    background-color:#b2d4d8;
  }
  /* Section styles */
  aside {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #dbdbdb;
    border-radius: 40px;
    border-style:dotted;
    color: #494949;
    border-width: 4px;
    border-color: #f1f1f1;
  }
  
  header {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #b37de6;
    border-radius: 80px;
    font-size: 63px;
    margin-top: -60px;
    color: #f1f1f1;
    font-family: "Titan One", sans-serif;
  }
  
  footer {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: #b37de6;
    border-radius: 80px;
  }
  
  article {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #494949;
  }
  
  .flex-wrapper {
    display: flex; 
  }
/* Button styles */
  .button1 {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin: 1500px;
    border-radius: 30px;
    background-color:#39B149;
    border-color: #c5c1c1;
    border-style: solid;
    border-width: 3px;
    flex-grow: 1;
    font-size: 25px;
    color: #dddddd;
    margin: 0px 5px 0 17px;
    padding-bottom: -15px;
    cursor: pointer;
    font-family: "Titan One", sans-serif;
  }
  
  .button2 {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin: 1500px;
    border-radius: 30px;
    background-color:#92caf8;
    border-color: #c5c1c1;
    border-style: solid;
    border-width: 3px;
    color: #dddddd;
    flex-grow: 1;
    font-size: 23px;
    margin: 7px 5px 0 17px;
    font-family: "Titan One", sans-serif;
    cursor: pointer;
  }
  .button3 {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin: 1500px;
    border-radius: 30px;
    background-color: #4794c7;
    border-color: #c5c1c1;
    border-style: solid;
    border-width: 3px;
    flex-grow: 1;
    font-size: 23px;
    margin: 7px 5px 0 17px;
    padding-bottom: -40px;
    color: #dddddd;
    cursor: pointer;
    font-family: "Titan One", sans-serif;
  }
  .button4 {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin: 1500px;
    border-radius:30px;
    background-color:#ce71ce;
    border-color: #c5c1c1;
    border-style: solid;
    border-width: 3px;
    flex-grow: 1;
    font-size: 25px;
    margin: 7px 5px 0 17px;
    color: #dddddd;
    padding-bottom: -15px;
    cursor: pointer;
    font-family: "Titan One", sans-serif;
  }
  .button5 {
    display: inline-block;
    height: 40px;
    width: 200px;
    margin: 1500px;
    border-radius: 30px;
    background-color:#985ece;
    border-color: #c5c1c1;
    border-style: solid;
    border-width: 3px;
    flex-grow: 1;
    font-size: 25px;
    margin: 7px 5px 0 17px;
    padding-bottom: -15px;
    color: #dddddd;
    cursor: pointer;
    font-family: "Titan One", sans-serif;
  }
  
  /* Image styles */
  .image1 {
    display: inline-block;
    height: 450px;
    margin: 1500px;
    background-color: #5a5a5a;
    background-image: url(img1.jpg);
    border-radius: 50px;
    background-size: cover;
    flex-grow: 1;
    margin: 0 20px;
    font-size: 50px;
    color: #302f2f;
    opacity: 70%;
  }

  .image2 {
    display: inline-block;
    height: 450px;
    margin: 1500px;
    background-color: #D6D5D5;
    background-image: url(img2.jpg);
    border-radius: 50px;
    background-size: cover;
    flex-grow: 1;
    margin: 0 20px;
    font-size: 50px;
    color: #302f2f;
    opacity: 70%;
  }

  .image3 {
    display: inline-block;
    height: 450px;
    margin: 1500px;
    background-color: #D6D5D5;
    background-image: url(img3.jpg);
    border-radius: 50px;
    background-size: cover;
    flex-grow: 1;
    margin: 0 20px;
    color: #302f2f;
    font-size: 50px;
    opacity: 70%;
  }
  
  h1, h4, p {
    padding: 5px;
  }
  /* Responsive styles */
   @media only screen and (max-width: 850px) {
  
     /*changes to code to arrange aside below article. */
   .grid-wrapper {
       display: flex;
       flex-direction: column;
     } 
     
     aside {
       order: 1
     }
     
     footer {
       order: 2;
     }

     header{
      font-size: 40px;
     }
     
     /*end of changes*/
     
     .flex-wrapper {
      flex-direction: column;
    }
     
     .image1,
     .image2,
     .image3 {
       margin-bottom: 50px;
     }
  }
/* Overlay styles this is all the styling for the nav bar and screen adjustment details */
  .overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: "Titan One", sans-serif;
  font-size: 40px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 90px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}