{% extends "hello/layout.html" %}
{% load static %}
{% block title %}Exhibits{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hello/BigJohnEXHIBIT.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Dosis:wght@200..800&family=Inter:wght@100..900&family=Madimi+One&family=Nabla&family=Protest+Revolution&family=Protest+Riot&family=Scope+One&family=Truculenta:opsz@12..72&display=swap" rel="stylesheet">

    <title>Big John</title>


</head>
<div class="background">

<body>
        <header>

                <div class="card">
                    <div class="header-content">
                        <h1 class="maintitle">Big John</h1>
                        <nav>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'help' %}">Help</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </nav>                        
                    </div>
                </div>
            
        </header>
            <main>
                    <div class="maininf">
                        <div class="texthold1">
                            <img src="{% static 'images/BIG-JOHN.jpg' %}" alt="Big Ole' John In DA Flesh">
                        </div>
                            

                        <div class="Base2">
                            <div class="content">
                                <h2 class="title">Exhibit Info</h2>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis magna quis lectus fermentum, quis scelerisque orci pellentesque. Duis id porta justo. Sed ac enim id justo tincidunt hendrerit id ac lectus. Pellentesque maximus posuere tortor vitae consequat.</p>
                            </div>
                        </div>

                        <div class="Base3">
                            <div class="toPLAY">
                            <h2 class="playTITLE">What play is happening?</h2>
                              <button class="btn" onclick="navigateToLink(event, 'link1.html')">Object</button> 
                              <button class="btn" onclick="navigateToLink(event, 'link2.html')">Creative</button>
                              <button class="btn" onclick="navigateToLink(event, 'link3.html')">Social</button>
                            </div>
                            

                        </div>
                    </div>
                
            </main>

<footer> <!--footer begins-->
    <p>Copyright © 2024 Glazer's Children's Musuem</p>
</footer> <!--footer ends-->
</body>
</div>
</html>
{% endblock %}
