{% extends "hello/layout.html" %}
{% load static %}
{% block title %}Help{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'hello/help.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">

</head>
<body>

  <div id = "header">

    Help Center
    </div>

<div align="center"	>	
  <div id = "stuff">
  
    How can we assist you today?

  <div class="search">
    <input placeholder="Search..." type="text">
    <button type="submit">Go</button>
  </div> 
 
<div align = "center">
<div class="flip-card">
  <div class="flip-card-inner">
      <div class="flip-card-front">
          <p class="title">FAQ's</p>
          <p>Hover Me</p>
      </div>
      <div class="flip-card-back">
          <p class="title">BACK</p>
          <p>Click Here</p>
      </div>
    </div>
</div>

<div class="flip-card1">
  <div class="flip-card-inner1">
      <div class="flip-card-front1">
          <p class="title1">Account Managment</p>
          <p>Hover Me</p>
      </div>
      <div class="flip-card-back1">
          <p class="title1">BACK</p>
          <p>Click Here</p>
      </div>
    </div>
</div>


<div class="flip-card2">
  <div class="flip-card-inner2">
      <div class="flip-card-front2">
          <p class="title2">Navigation</p>
          <p>Hover Me</p>
      </div>
      <div class="flip-card-back2">
          <p class="title2">BACK</p>
          <p>Click Here</p>
      </div>
    </div>
</div>

<div id="contactus">
  Can't find what you're looking for? <u>Contact Us.</u>
</div>

      
</div>
</div>	
</div>    

</body>
</html>
{% endblock %}