{% extends "hello/layout.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'hello/home.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>
<body>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="https://glazermuseum.org/deai/">About</a>
    <a href="{% url 'playselect' %}">Play</a>
    <a href="{% url 'exhibits' %}">Exhibits</a>
    <a href="https://glazermuseum.org/signatureevents/">Calendar</a>
    <a href="{% url 'help' %}">Help</a>
</div>
</div>

<div id="header">
    Welcome!
</div>



<!-- ----------------------humburger menu stuff ------------------------->
<span style="font-size:45px;cursor:pointer;position: absolute; top: 45px;left: 40px;" onclick="openNav()">&#9776;</span>

<script>
function openNav() {
  document.getElementById("myNav").style.display = "block";
}

function closeNav() {
  document.getElementById("myNav").style.display = "none";
}
</script>

<div class="containerimg" >

  <br>

    <div class="text">
        This is Sample Text.
      </div>


      <div class="text1">
        This is Sample Text.This is Sample Text.<br>
        This is Sample Text.This is Sample Text.<br>
        This is Sample Text.This is Sample Text.<br>
        This is Sample Text.This is Sample Text.<br>
        This is Sample Text.This is Sample Text.<br>
        This is Sample Text.This is Sample Text.
      </div>


      <div class="button">
        <div align = "center">
          Click HERE.
        </div>

      </div>

    <div class="cards">
      <div class="card red">
        <p class="tip">Hover Me</p>
      </div>
      <div class="card blue">
        <p class="tip">Hover Me</p>
      </div>

    </div>

</div>


<div class="stuff">
  This will have more info and some pictures
</div>

   <br><br>
  <div align = "center"  >
<div class="loader">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
</div>
     </div>

</body>
</html>
{% endblock %}
