{% extends "hello/layout.html" %}
{% load static %}
{% block title %}
Play
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Type 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Dosis:wght@200..800&family=Madimi+One&family=Nabla&family=Protest+Revolution&family=Protest+Riot&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'hello/play.css' %}">
</head>
<body>
    
        <header>
            
        </header>
            <main>
                    <div class="maininf">
                        <div class="texthold1">
                            <h1 class="txthldTTL">Where is this happening at? </h1>
                            <div class="lnktoEXH">
                              <button class="link" onclick="navigateToLink(event, 'link1.html')">Link 1</button>
                              <button class="link" onclick="navigateToLink(event, 'link2.html')">Link 2</button>
                              <button class="link" onclick="navigateToLink(event, 'link3.html')">Link 3</button>
                              <button class="link" onclick="navigateToLink(event, 'link4.html')">Link 4</button>
                              <button class="link" onclick="navigateToLink(event, 'link5.html')">Link 5</button>
                              <button class="link" onclick="navigateToLink(event, 'link6.html')">Link 6</button>
                            </div>
                        </div>
                            

                        <div class="Base2">
                            <div class="content">
                                <h2 class="title">Benefits:</h2>
                                <p class="description">Your child is interested in Adventerous play! This is often found in children that enjoy immagination, action, and some risky play. There are many ways yopu can bring this type of play directly to your home!</p>
                            
                              </div>
                        </div>
                    </div>
                
            </main>

        
    </div>
</body>
</html>
{% endblock %}