.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}


.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}



nav ul {
  list-style-type: none;
  padding: 12px; 
  margin: 0;
  word-spacing: 11rem;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
  color: #d94214ab;
  font-weight: bolder;
  font-size: 25px;
}

body {
  background-image: url(firehousebckrnd.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.description {
  margin-left: 30px;
  margin-right: 30px;
  font-size: larger;
}
.maintitle {
  font-family: "Scope One", serif;
  font-size: 6rem;
  font-weight: bolder;
  color: #c92115d0;
  margin-bottom: 20px;
}

.title {
  font-family: "Scope One", serif;
  font-size: 2.5rem;
  font-weight: 300px; 
  color: #c92115d0;
  margin-bottom: 0.1px;
}

.playTITLE {
  font-family: "Scope One", serif;
  color: #c92115d0;
  font-weight: 300px;
  font-size: 2.5rem; 
}

.maininf {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5em;
  row-gap: 0.1em;
}

 

.Base1 {
  width: 70rem;
  box-sizing: content-box;
  margin: auto; 
  border-radius: 1rem;
  position: relative;
  background-color: rgb(238, 236, 236);
  background-image: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8px;
}

.Base2 {
  width: 600px;
  height: 275px;
  border-radius: 30px;
  background: rgb(238, 236, 236);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  position: center;
  margin-left: calc(2% + 0.53rem);
  margin-top: calc(20% + 0.5rem);
}

.Base2 h2 {
  text-align: center;
} 

.Base3 {
  width: 500px;
  height: 354px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  position: relative;
  margin: 3% auto 0;
  text-align: center;
  overflow: hidden;
}

.Base3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
} 

.Base4 {
  width: 480px;
  height: 200px;
  border-radius: 30px;
  background: rgb(238, 236, 236);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  position: center;
  margin-bottom: 12%;
  margin-left: 98%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #c92115d0 4%, #e22315d0 100%);
  box-shadow: 0 20px 30px -6px #0e0e0e;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}


/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
  .Base1 {
    width: 90%;
  }

  .Base3 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .maininf {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2em;
  }

  .Base2 {
    width: 90%;
    height: auto;
    margin-top: 5%;
  }

  .maintitle {
    font-size: 4rem;
  }

  .Base4 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding-bottom: 3%;
    display: contents;
    flex-direction: column;
    align-items: center;
  }
  /*.playTITLE h2 {
    font-size: 12px;
    font-weight: 200;
    align-items: center;
    flex-direction: column;
    text-shadow: #ecebe9;
  }
  take this portion out its doing nothing */
  .playTITLE {
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: rgba(227, 223, 223, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .Base4 .toPLAY {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-direction: column;
  }

  .Base4 .toPLAY .btn {
    margin: 10px 0;
  }
  nav ul {
    word-spacing: 0rem;
  }
}

/* Additional adjustments for even smaller screens */
@media only screen and (max-width: 480px) {
  .Base1 {
    padding: 5px; /* Adjust padding */
  }

  .Base3 {
    margin-top: 10%;
  }

  .Base4 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }
}

