body {
  background-color: rgb(209, 228, 234);
}


#header {
  text-align: center;
  font-size: 300%;
  height: 110px;
  width: auto;
  background-color: #a2a2a2;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-family: Pacifico, Static;
  margin: 10px 0;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: Pacifico, Static;
  font-size: 40px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 90px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.containerimg {
 background-color: #eae8e870;
 border: #ffffff;
 border-style: groove;
 border-width: 10px;
  border-radius: 20px;
  height: 600px;
  background-size: cover; /* Adjusts the background image size to cover the entire container */
  background-position: center; /* Centers the background image within the container */
  position: relative; /* Necessary for positioning child elements */
}

 .text{
  color: #393939;
  position: relative;
  font-family: Pacifico, Static;
  font-size: 40px;
  margin-top: 5%;
  margin-left: 5%;
}


.text1{
  color: #434343;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  margin-top: 2%;
  margin-left: 5%;
}

.button{
  height: 53px;
  width: 180px;
  padding-top: 15px;
  border-radius: 40px;
  background-color: #454242;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  position: relative;
  margin-top: 2%;
  margin-left: 25%;
  cursor: pointer;
}


.card::before {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  top: 20%;
}

.cards {
  display: flex;
  gap: 80px;
  margin-top: -27%;
  margin-left: calc(61% - 140px);
}

.cards .red,
.cards .blue {
  width: 300px;
  height: 450px;
  font-family: "CustomFont", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  background-color: rgb(65, 65, 65);
  border: 1px solid rgb(144, 161, 255);
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  transform: scale(0.9, 0.9);
}



.stuff{
  height: 300px;
  width: auto;
  padding-top: 15px;
  border-radius: 40px;
  background-color: #757373;
  position: relative;
  margin-top: 2%;
}


.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #333;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}